Slides/~$CrashCourse_2016.pptx
*.blg
*.bbl
*.aux
*.gz
*.log
dsin.txt
*.out
2017-2018/Task/Latex/Task2017.pdf
2017-2018/Exercises/SimpleHouse/dymosim.lib
2017-2018/Exercises/SimpleHouse/dymosim.exp
2017-2018/Exercises/SimpleHouse/dymosim.exe
2017-2018/Exercises/SimpleHouse/dsmodel.c
2017-2018/Exercises/SimpleHouse/dslog.txt
2017-2018/Exercises/SimpleHouse/dsfinal.txt
2017-2018/Exercises/SimpleHouse/buildlog.txt
2017-2018/Exercises/SimpleHouse/SimpleHouseTemplate.mat
2017-2018/Exercises/SimpleHouse/SimpleHouseSolution.mo
